@using DebtGroup.HtmlExtensions
@{
    ViewBag.Title = "DebtGroup";
}
@section featured {
    <section class="featured">  
		<div class="flex-container">
    		<p class="text-center">Click the button below to go to the Debt Viewer</p>
        	@MvcHtmlString.Create(Html.ActionButton("Go to App", "DoAuth", "Home", "Home/DoAuth", "margin-center"))
		</div>
    </section>
}