@{
    ViewBag.Title = DebtGroup;
}

<!DOCTYPE html>

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<article>
    <p>
        @Html.Raw(ViewBag.Message)
    </p>
        
</article>

