@using DebtGroup.HtmlExtensions
@{
    ViewBag.Title = "DebtGroup";
}
@section featured {
    <section class="featured">  
		<div class="flex-container">
    		@ViewBag.Sheets
		</div>
    </section>
}